<header class="site-header">
<div class="brand" style=color:red;>  سایت آموزش GIT <br> <h2>{{site.title}}</h2></div>
  <div class="wrapper">
    	<!--<div class="container">-->
	<!--style=margin-right:20px; color="red"-->
<button type="button" class="btn btn-danger ribbon"><a class="page-link" href="/index.html">خانه</a></button>
         
<button type="button" class="btn btn-warning ribbon"><a class="page-link" href="/about/">در باره ی من</a></button>
         
<button type="button" class="btn btn-info ribbon">پرسش و پاسخ </button>
         
<button type="button" class="btn btn-success ribbon">مطالب من </button>
         
<button type="button" class="btn btn-primary ribbon" >ارتباط با ما </button>
 <!--</div>-->
  </div>

</header>
