<header class="site-header">
<div class="brand" style=color:red;>  سایت آموزش GIT <br> <h2>{{site.title}}</h2></div>
  <div class="wrapper">
    	<!--<div class="container">-->
	<!--style=margin-right:20px; color="red"-->
<button type="button" class="btn btn-danger ribbon"><a class="page-link" href="/index.html">خانه</a></button>
         
<button type="button" class="btn btn-warning ribbon"><a class="page-link" href="/about/">در باره ی من</button></a>
         
<button type="button" class="btn btn-info ribbon"><a class="page-link" href="/about2/">ارتباط با ما</a> </button>
         
<button type="button" class="btn btn-success ribbon"><a class="page-link" href="/about3/">پرسش و پاسخ </a> </button>
         
<button type="button" class="btn btn-primary ribbon" >مطالب من </button>
 <!--</div>-->
  </div>

</header>
