<header class="site-header">
<div class="brand" style=color:red;>  سایت آموزش GIT <br> <h2>{{site.title}}</h2></div>
  <div class="wrapper">

    	<!--<div class="container">-->
	<!--style=margin-right:20px; color="red"-->
 <div class="collapse navbar-collapse" id="navbar-collapse-2"  style=margin-right:-10; >
          <ul class="nav navbar-nav navbar-right">
           	  <li><a href="#">ارتباط با ما </a></li>
            <li><a href="#">مطالب من </a></li>
			 <li><a href="#">پرسش و پاسخ </a></li>
			   <li><a class="page-link" href="/about/">در باره ی من</a></li>
            <li><a class="page-link" href="/index.html">خانه</a></li>
          </ul>
        </div>
 <!--</div>-->
  </div>

</header>
